.navigationBar {
  border: 1px solid red;

  ul {
    list-style: none;
    display: flex;
    gap: 24px;
  }
}

.logoAndNavBar {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
}

.mainText {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 560;
  font-size: 1.25rem;
}

.headingFont {
  font-family: 'Ovo', serif;
}
