// width for sections: all but forth
.container {
  padding-left: 5rem;
  padding-right: 5rem;
  margin: auto;
}

// background colors for all sections
.sectionColorOne {
  background-color: #fbf6e9;
}

// blue button
.blueButton {
  background-color: #5dc0fe;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 12px 32px;
}

// header
.navigationBar {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.logoAndNavBar {
  margin-top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px 24px;
  position: fixed;
}

// hero section
.heroSection {
  display: flex;
  gap: 12px;
  margin-top: 5rem;

  h1 {
    font-size: 4rem;
    text-align: left;

    & ~ div {
      padding-left: 24px;
    }
  }

  img {
    width: 600px;
    height: 500px;
  }
}

// second section
.secondSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 0;
  }
  & > p {
    width: 42rem;
    margin-top: 0;
    text-align: center;
  }
}

.gridOfSix {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  & > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 1rem 1rem 5rem;
    width: 80%;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// third section
.thirdSection {
  display: flex;
  flex-direction: row;
  gap: 40px;

  & > div {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }

  img {
    flex: 1;
    padding: 40px;
  }
}
.secondSection + div {
  padding-left: 7.5rem;
}
