:root {
  --heading-font: 'Ovo', serif;
  --body-font: 'Nunito Sans', sans-serif, 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  color: #124a2c;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
}

h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.25rem;
}
p {
  font-size: 1.25rem;
  font-weight: 560;
}

*,
::before,
::after {
  box-sizing: border-box;
}
